{% extends "base.html" %}
{% block body %}
    <h1>Erik's Catering Co.</h1>
    <h2>Staff Registration</h2>
    <div class = formFormat>
        <form action="" method="post">
            <dl>
            <dt> Staff Username:
            <dd><input type="text" name="user">
            <dt> Staff Password:
            <dd><input type="password" name="password">
            <dd><input type="submit" name = "submit" value="Register Staff Member">
            </dl>
        </form>
    </div>
{% endblock %}
